services:
  rabbitmq:
    image: rabbitmq:4.2.4-management-alpine

    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:18.2-alpine3.23
    restart: always
    container_name: air_quality_db
    command: ['postgres', '-c', 'wal_level=logical']
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres001}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres001}
      POSTGRES_DB: air_quality
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
